@if (suggestions().length > 0) {
  <div class="objective-suggestions">
    <small>Explore this further</small>
    @for (item of suggestions(); track item.tool_id) {
      <div class="objective-offer">
        <span class="offer-icon">&#10024;</span>
        <div class="offer-body">
          <button type="button" [disabled]="objectives.busy()" (click)="start(item.tool_id)">
            {{ item.button_label }} <span class="offer-arrow">&#8594;</span>
          </button>
          <p>{{ item.clear_purpose }}</p>
        </div>
        <button
          type="button"
          class="objective-dismiss"
          [attr.aria-label]="'Dismiss ' + item.button_label"
          (click)="dismiss(item.tool_id)"
        >&#215;</button>
      </div>
    }
  </div>
}
