<label [attr.for]="id" class="toggle" [class.is-disabled]="disabled">
  @if (label || description) {
    <div class="toggle-text">
      @if (label) { <div class="toggle-label">{{ label }}</div> }
      @if (description) { <div class="toggle-desc">{{ description }}</div> }
    </div>
  }

  <div class="toggle-control">
    <input
      #input
      [attr.id]="id"
      type="checkbox"
      [checked]="checked"
      [disabled]="disabled"
      (change)="onToggle($event)"
      class="toggle-input"
    />
    <div class="toggle-track" [class.is-on]="checked" [class.is-off]="!checked">
      <div class="toggle-knob" [class.is-on]="checked" [class.is-off]="!checked"></div>
    </div>
  </div>
</label>
