:host { display: contents; }
.seg {
  display: inline-flex;
  border-radius: var(--radius-xl);
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: color-mix(in oklab, var(--color-zinc-300) 40%, transparent);
  background-color: color-mix(in oklab, var(--color-zinc-200) 70%, transparent);
  padding: var(--spacing);
  -webkit-user-select: none;
  user-select: none;
}
.seg-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 1.5);
  border-radius: var(--radius-lg);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: 150ms;
  --tw-duration: 150ms;
}
.seg-btn.is-sm {
  padding-inline: calc(var(--spacing) * 2.5);
  padding-block: var(--spacing);
  font-size: var(--text-xs);
  line-height: var(--tw-leading, var(--text-xs--line-height));
}
.seg-btn.is-md {
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 1.5);
  font-size: var(--text-xs);
  line-height: var(--tw-leading, var(--text-xs--line-height));
}
.seg-btn.is-selected {
  background-color: var(--color-white);
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);
  color: var(--color-zinc-900);
  --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.05));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
.seg-btn.is-unselected {
  color: var(--color-zinc-600);
  @media (hover: hover) {
    &:hover {
      background-color: color-mix(in oklab, var(--color-white) 40%, transparent);
      color: var(--color-zinc-900);
    }
  }
}
.seg-icon {
  height: calc(var(--spacing) * 3.5);
  width: calc(var(--spacing) * 3.5);
}
.seg-icon.is-selected {
  color: var(--color-blue-600);
}
.seg-icon.is-unselected {
  color: var(--color-zinc-500);
}
.seg-badge {
  border-radius: calc(infinity * 1px);
  padding-inline: calc(var(--spacing) * 1.5);
  font-family: var(--font-mono);
  font-size: 10px;
  --tw-font-weight: var(--font-weight-normal);
  font-weight: var(--font-weight-normal);
}
.seg-badge.is-selected {
  background-color: var(--color-zinc-100);
  color: var(--color-zinc-600);
}
.seg-badge.is-unselected {
  background-color: color-mix(in oklab, var(--color-zinc-300) 60%, transparent);
  color: var(--color-zinc-600);
}
