<div role="tablist" class="seg" [class]="className">
  @for (opt of options; track opt.id) {
    <button
      type="button"
      role="tab"
      [attr.aria-selected]="opt.id === value"
      (click)="valueChange.emit(opt.id)"
      class="seg-btn"
      [class.is-sm]="size === 'sm'"
      [class.is-md]="size !== 'sm'"
      [class.is-selected]="opt.id === value"
      [class.is-unselected]="opt.id !== value"
    >
      @if (opt.icon) {
        <app-icon [name]="opt.icon" class="seg-icon" [class.is-selected]="opt.id === value" [class.is-unselected]="opt.id !== value" />
      }
      <span>{{ opt.label }}</span>
      @if (opt.badge) {
        <span class="seg-badge" [class.is-selected]="opt.id === value" [class.is-unselected]="opt.id !== value">{{ opt.badge }}</span>
      }
    </button>
  }
</div>
