@if (isOpen) {
  <div class="modal-backdrop show"></div>
  <div class="modal d-block confirm-dialog-modal" tabindex="-1" role="alertdialog" aria-modal="true"
       [attr.aria-labelledby]="'confirm-dialog-title'" [attr.aria-describedby]="'confirm-dialog-desc'">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content confirm-dialog-content">
        <div class="modal-body text-center">
          <div class="confirm-dialog-icon" [class.is-destructive]="isDestructive">
            <span aria-hidden="true">&#9888;</span>
          </div>
          <h3 id="confirm-dialog-title" class="confirm-dialog-title">{{ title }}</h3>
          @if (dialogText) {
            <p id="confirm-dialog-desc" class="confirm-dialog-text">{{ dialogText }}</p>
          }
        </div>
        <div class="modal-footer confirm-dialog-footer">
          <button #cancelBtn type="button" class="btn btn-light flex-1" (click)="onCancel()">{{ cancelLabel }}</button>
          <button type="button" class="btn flex-1" [class.btn-danger]="isDestructive" [class.btn-primary]="!isDestructive" (click)="onConfirm()">{{ confirmLabel }}</button>
        </div>
      </div>
    </div>
  </div>
}
